body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

#search {
    padding: 6px;
    margin: 10px 0;
    width: 200px;
}

.perk-card {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
}

button {
    margin-right: 5px;
}