<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perk Manager Dashboard</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Manage Your Perks</h1>

<div class="perk-container">
    <input id="perkName" type="text" placeholder="Perk Name">
    <input id="perkDesc" type="text" placeholder="Perk Description">
    <button type="button" id="addPerkBtn">Add Perk</button>
    <button type="button" id="removePerkBtn">Remove Perk</button>
</div>

<p id="perkMessage"></p>
<script th:src="@{/script.js}"></script>
</body>
</html>
